@page
@model IndexModel
@{
    ViewData["Title"] = "PKP - Dodaj polaczenie";
}

<div id="ramka">
    <h1 class="display-4">Dodaj polaczenie!</h1><br />

   
    <div>
        
    </div>
    <br />

    <button id="dodaj">Dodaj polaczenie</button>
</div>