@page
@model IndexModel
@{
    ViewData["Title"] = "PKP - Rozklad jazdy";
}

<div id="ramka">
    <h1 class="display-4">Rozklad jazdy!</h1><br />

   
    <div>
        
    </div>
    <br />

    <button id="poprzednie">Poprzednie polaczenie</button>
    <button id="nastepne">Nastepne polaczenie</button>
</div>